<footer class='bg-custom-2 py-5 px-5'>
	<div class="container">
		<div class="row d-flex justify-content-around align-items-center">
			<div class="col-12 col-md-6">
				<p class="fs-5 text-white text-center">Developer: <a href="https://japsiee.github.io/Japsdev/" class='text-decoration-none text-white fst-italic' target="_blank">Japsiee Japs</a></p>
			</div>
			<div class="col-12 col-md-6">
				<p class="fs-5 text-white text-center"><a href="/privacypolicy" class='text-decoration-none text-white fst-italic' target="_blank">Privacy Policy</a></p>
				<p class="fs-5 text-white text-center"><a href="/termscondition" class='text-decoration-none text-white fst-italic' target="_blank">Terms and Condition</a></p>
			</div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8" async defer></script>
	<script src='/dom.js' type="text/javascript" charset="utf-8" async defer></script>
</footer>