<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>
<body>
	<div class="container bg-white text-primary text-center d-flex flex-column justify-content-center align-items-center" style='height:80vh;'>
		<h1 class="display-1 fw-bolder">Status <span class="text-danger">404</span></h1>
		<p class="lead fw-normal">Are you lost baby girl?</p>
		<a href="/" class='btn btn-lg btn-primary'>Go Home</a>
	</div>
<%- include('./partials/footer.ejs') %>
</body>
</html>