<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>
<body class='bg-dark'>
	<div class="container-fluid bg-dark py-3 px-5">
		<h1 class="display-1 text-center text-custom-0 fw-bold">FREEDOM WALL</h1>
		<p class="lead text-center text-custom-2 fw-normal">Shout your feelings and stay anonymous</p>
	</div>
	<%- include('./partials/sticky-navbar.ejs') %>
	<div class="container p-5">
		<h1 class="display-1 text-custom-0 fw-normal">What's this app</h1>
		<p class="lead text-white" style='text-align: justify;'>
			<span class="badge bg-custom-2 p-2 px-3">Freedom Wall</span> is a free app that enables the user to express their feelings on social media with or without exposing their real names. The user can <a href="/make/shout" class='text-warning text-decoration-none'>make a shout</a> and get feedbacks from the other users. Any harmful and fould words are allowed because of some specific intent, make sure you are 18 and above to use this application.
		</p>
	</div>
	<div class="container px-5 pb-5">
		<h1 class="display-1 text-custom-0 fw-normal">How to use this app</h1>
		<p class="lead text-white" style='text-align: justify;'>
			First, of course you <span class="badge bg-custom-2 p-2 px-3">must be 18+</span> to have the permission to use this app. But if you're not, I can't blame you nor make you stop on browsing here so it's all up to you. If you are under 18 and using this app, please get someone that will guide you because everything you see inside here is mixed opinions and facts so beware.
		</p>
		<p class="lead text-white" style='text-align: justify;'>
			For your information, there are 3 types of user on this app and you can be one of them or be all of them if you wanted too.
		</p>
		<p class="lead text-warning fw-bold" style='text-align: justify;'>
			3 types of user:
		</p>
		<p class="lead text-white" style='text-align: justify;'>
			1st type of user is the one who makes a shout without any other reason but just to express his feelings
		</p>
		<p class="lead text-white" style='text-align: justify;'>
			2nd type of user is the commenter or the person who loves stating his opinion and beliefs related to the shout. 
		</p>
		<p class="lead text-white" style='text-align: justify;'>
			3rd type of user is the one who make a shout and seeks answer or opinion.
		</p>
	</div>
<%- include('./partials/footer.ejs') %>
<script></script>	
</body>
</html>